{% block footer_outer %}
  <mj-wrapper>
    <mj-section>
      <mj-column css-class="full-width">
        <mj-divider border-color="{{ style.color['black'] }}" padding="72px 0 20px" />
      </mj-column>
    </mj-section>
    <mj-section css-class="padded-zero">
      <mj-column css-class="full-width">
        <mj-table>
          <tr>
            <td valign="top" class="footer-bottom__text">
              All Fairtrade organic cotton. <br/>All plastic-free.
            </td>
            <td valign="top" class="footer-bottom__logos nowrap" align="right">
              {% include '@components::local/affiliates.twig' with {
                logos: [
                  {
                    src: development ? server ~ '/assets/certification-logos.png' : "https://cdn.shopify.com/s/files/1/0053/6592/files/certification-logos.png?v=1721710490",
                    alt: 'Logo 1'
                  }
                ]
              } %}
            </td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column css-class="full-width">
        <mj-divider border-color="{{ style.color['black'] }}" padding="12px 0" />
      </mj-column>
    </mj-section>
  </mj-wrapper>
{% endblock %}